html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(217 70 239 / 0.35);
}


body {
  font-family: 'Poppins', sans-serif;
}

/* aplicado pelo script.js quando a página rola um pouco */
#header.header-solido {
  background-color: rgb(3 7 18 / 0.9);
}